<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">
	<head>
		<script>
		  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
		
		  ga('create', 'UA-50341939-1', 'coltonphillips.ca');
		  ga('send', 'pageview');
		
		</script>
	
		<title>Colton Phillips</title>

		{% block css %}
			<link rel="stylesheet" type="text/css" href="/static/css/base.css">
		{% endblock %}

		{% block js %}
			<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
		{% endblock %}
	</head>
	<body>
		<div id="sidebar">
			<div id="crest">
				<a href="/" title="Home">
					<img src="/static/images/reasonably-sized-crest.jpg">
				</a>
			</div>
			<div id="about-me">
				{{ get_random_status() }}
			</div>
			<div id="my-links">
				<div class="links-title">
					CHECK ME OUT:
				</div>
				<div class="links">
					{% for description, link in SIDEBAR_LINKS %}
						<div>
							<a href="{{ link }}"
								{% if not link.startswith('/') %} target="_blank" {% endif %}>
								{{ description }}
							</a>
						</div>
					{% endfor %}

					<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
						<input type="hidden" name="cmd" value="_s-xclick">
						<input type="hidden" name="hosted_button_id" value="W6BL4HLMYV3GY">
						<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donate_SM.gif" name="submit" alt="Help support my work.">
						<img alt="" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif">
					</form>


				</div>
			</div>
		</div>
		<div id="content-container">
			<div id="content">
				{% block content %}
				{% endblock %}
			</div>
		</div>

	</body>
</html>
