<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">
	<head>
		<script>
		  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
		
		  ga('create', 'UA-50341939-1', 'coltonphillips.ca');
		  ga('send', 'pageview');
		
		</script>
	
		<title>Colton Phillips</title>

		{% block css %}
			<link rel="stylesheet" type="text/css" href="/static/css/base.css">
		{% endblock %}

		{% block js %}
			<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
		{% endblock %}
	</head>
	<body>
		<div id="sidebar">
			<div id="crest">
				<a href="/" title="Home">
					<img src="/static/images/reasonably-sized-crest.jpg">
				</a>
			</div>
			<div id="about-me">
				{{ get_random_status() }}
			</div>
			<div id="my-links">
				<div class="links-title">
					CHECK ME OUT:
				</div>
				<div class="links">
					{% for chance, description, link in SIDEBAR_LINKS %}

						{% if int(chance) == 1 %}
							<div>
								<a href="{{ link }}"
									{% if not link.startswith('/') %} target="_blank" {% endif %}>
									{{ description }} {{ dir(chance) }}
								</a>
							</div>
						{% endif %}	

					{% endfor %}
					<a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=W6BL4HLMYV3GY" target="_blank">
						<img src="/static/images/donate.png">
					</a>
				</div>
			</div>
		</div>
		<div id="content-container">
			<div id="content">
				{% block content %}
				{% endblock %}
			</div>
		</div>

	</body>
</html>
