{% extends "base.html" %}
{% block css %}
        {{ super() }}
	        <link rel="stylesheet" type="text/css" href="/static/css/comic.css">
{% endblock %}

{% block content %}
<div id="comic">
	<div id="nav-container"> 
		<a href="{{ comic_url(panel_id|int - 1) }}">
			<img class="nav" src="/static/images/comic/nav/left_arrow.png">
		</a>
		<a href="{{ comic_url(panel_id|int + 1) }}">
			<img class="nav" src="/static/images/comic/nav/right_arrow.png">
		</a>
	</div>
	<img id="panel" src="{{ comic_path(panel_id) }}">
</div>
{% endblock %}
