{% extends "base.html" %}
{% block css %}
        {{ super() }}
	        <link rel="stylesheet" type="text/css" href="/static/css/comic.css">
{% endblock %}

{% block content %}
<div id="comic">
	<div id="panel-container">
		<a href="{{ comic_path(panel_id-1) }}">
			<img src="/static/comic/nav/left_arrow.png">
		</a>
		<a href="{{ comic_path(panel_id+1) }}">
			<img src="/static/comic/nav/right_arrow.png">
		</a>


		<img id="panel" src="{{ comic_path(panel_id) }}">
	</div>
</div>
{% endblock %}
