{% extends "base.html" %}
{% block css %}
        {{ super() }}
	        <link rel="stylesheet" type="text/css" href="/static/css/friends.css">
{% endblock %}

{% block content %}
<div id="friends">
	<br>
	<h1>Friends</h1>
	These are people who have sponsored me or helped me out along the way. 
	<br> 
	I hear you can never have too many friends. These folks are really swell.
	<br><br><br>
	{% for friend, link in FRIENDS %}
		<div>
			<a href="{{ link }}"
				{% if not link.startswith('/') %} target="_blank" {% endif %}>
					{{ description }}
			</a>
		</div>
	{% endfor %}
</div>
{% endblock %}
