{% extends "base.html" %}

{% block css %}
	{{ super() }}
	<link rel="stylesheet" type="text/css" href="/static/css/gallery.css">
{% endblock %}

{% block js %}
	{{ super() }}
	<script type="text/javascript" src="/static/js/lib/galleria-1.2.9.min.js"></script>
	<script type="text/javascript" src="/static/js/gallery.js"></script>
{% endblock %}

{% block content %}
	<!--
	Incredibly silly code to vertically and horizontally the gallery div in the content panel 
	See: http://stackoverflow.com/questions/396145/whats-the-best-way-of-centering-a-div-vertically-with-css
	-->
	<div id="gallery-outer">
		<div id="gallery-middle">
			<div id="gallery">
				{% for title, picture in pictures %}
					<img src="{{ picture }}" data-title="{{ title }}"/>
				{% endfor %}
			</div>
		</div>
	</div>
{% endblock %}
