{% extends "base.html" %}

{% from "project.html" import project %}

{% block css %}
	{{ super() }}
	<link rel="stylesheet" type="text/css" href="/static/css/projects.css">
{% endblock %}

{% block js %}
	{{ super() }}
	<script src="/static/js/main.js"></script>
{% endblock %}

{% block content %}
<div id="projects">
	{% for definition in PROJECTS %}
		{{ project(definition) }}
	{% endfor %}
</div>

<script src="http://www.dogets.com/widget/dogets.js"></script>
<script>
DogetsCom.go({
	wallet_address: "DAUaTZxp5ANeGKeURJuHC6Twn3CDmpRiqR",
	currency: "dogecoin",
	counter: "count",
	alignment: "bl",
	qrcode: true,
	auto_show: true,
	lbl_button: "Donate Dogecoin",
	lbl_address: "Donate Dogecoin to this Address:",
	lbl_count: "donations",
	lbl_amount: "DOGE"});
</script>
{% endblock %}
