{% extends "base.html" %}
{% block css %}
        {{ super() }}
	        <link rel="stylesheet" type="text/css" href="/static/css/progress.css">
{% endblock %}

{% block content %}
<div id="progress-title">
	COLTON IS INDIE <br>
	COLTON IS MONEY <br>
	COLTON HAS GOAL <br>
	HELP HIS ASS YO <br><br>
</div>
<div id="progress-bar">
	Paint Supplies:
	<progress value="{{PROGRESS}}" max="100"></progress><b>% completed</b>
</div>
<div id="progress-description">	

	<br><br>
	<b>COLTON:</b>
	  Hi! I'd love it if you donated to my paypal!
	  That's the easiest way to support me online.
	  Be creative, homey. 
	  <br><br> Thanks.<br>&#9825;

</div>

{% endblock %}
