{% extends "base.html" %}
{% block css %}
        {{ super() }}
	        <link rel="stylesheet" type="text/css" href="/static/css/test.css">
{% endblock %}

{% block content %}
<div id="test">
	<a href="/test"><h1>PUBLIC NOTES</h1><br></a>
{% if form %}
<br> You just posted <br><br> <b>{{ form.note }}</b> <br><br> to the public wall.
	<br> Do not press F5. I know that no one is impressed, but that will POST the note again.
{% endif %}
<br><br>
<form name="input" action="/test" method="post">
	Make a note and it will be saved:<br>
	<textarea rows="4" cols="50" name="note"></textarea><br>
	<input type="submit" value="Submit">
</form>
<br> <h2>NOTES</h2> <br>
{% for note in notes %}
	<li> {{note|urlize(40,target="_blank")}}
{% endfor %}
</div>
{% endblock %}
