body {
	background-color: black;
	font-family: "Lucida Console", Monaco, monospace;
}

a {
	color: #FC0000;
	text-decoration: none;
}

a:hover {
	color: white;
}

/* The sidebar is fixed, but we don't want it covering the content,
 * so the content container keeps everything right of the sidebar
 */
#content-container {
	margin-left: 280px; /* right of the sidebar - 10 + 20 + 250 */
	overflow: auto;
	height: 100%;
}

#content {
}

/*
 * 	SIDEBAR
 */
#sidebar {
	padding-left: 10px;
	padding-right: 20px;
	padding-top: 30px;
	width: 250px;
	display: inline-block;
	color: white;
	background-color: #141313;
	position: fixed;
	left: 0px;
	top: 0px;
	bottom: 0px;
	overflow-y: auto;
}

#crest {
	width: 250px;
	text-align: center;
}

#crest img {
	border: 2px solid;
	border-color: black;
	border-radius: 10px;
}

#about-me {
	margin-top: 20px;
	margin-bottom: 20px;
	margin-left: auto;
	margin-right: auto;
	width: 220px;
}

#my-links {
	width: 220px;
	margin-left: auto;
	margin-right: auto;
}

#my-links .links {
	margin-left: 20px;
}

#my-links .links a {
	padding: 2px;
	border-radius: 2px;
}


#my-links .links a:hover {
	background-color: #FC0000;
}

.container:before, .container:after {
	content: "";
	display: table;
}

.container:after {
	clear: both;
}

.container {
	zoom: 1;
}
