#gallery-outer {
	display: table;
	position: absolute;
	height: 100%;
	width: 100%;
}

#gallery-middle {
	display: table-cell;
	vertical-align: middle;
}

#gallery {

	image-rendering: -webkit-optimize-contrast;
	margin-left: auto;
	margin-right: auto;

	width: 800px;
	height: 500px;
}
