#projects {
	margin-top: 100px;
}

.project {
	background-color: #F7F5F5;
	margin-bottom: 30px;
	border: solid 2px;
	border-color: white;
	border-radius: 4px;
	margin-left: auto;
	margin-right: auto;
	width: 600px;
}

.project .head {
	cursor: pointer;
}

.project .head img {
	display: block;
}

.project .body {
	display: none;
}

.project .main {
	margin-top: 20px;
	margin-bottom: 20px;
}

.project .title {
	color: black;
	font-size: 14pt;
	font-weight: bold;
	text-align: center;
	margin-top: 0px;
	margin-bottom: 10px;
}

.project .content {
	float: right;
	margin-right: 45px;
}

.project .thumbnail {
	float: left;
	border: 4px solid;
	margin-left: 10px;
	margin-right: 10px;
	
	/* Constrained to the thumbnail image's size */
	width: 200px;
	height: 200px;
}

.project .description {
	width: 300px;
	margin-left: auto;
	margin-right: auto;
	text-align: justify;
}

.project .footer {
	/* background-color: black; */
}

.project .footer .link {
	text-align: right;
	height: 40px;
	line-height: 40px;
	margin-right: 40px;
}

.project .footer .link a {
	color: #FC0000;
	border-width: 2px;
	padding: 2px;
}

.project .footer .link a:hover {
	color: white;
	background-color: #FC0000;
	border-radius: 2px;
}

/*
 *	COMMON STUFF
 */
.container:before, .container:after {
	content: "";
	display: table;
}

.container:after {
	clear: both;
}

.container {
	zoom: 1;
}
